* **FA17-BL-INFO-I590-14120**
* **Data Visualization**
* **Gerald Manipon, MS Data Science student - Indiana University**
* **gmanipon@iu.edu**
* **this jupyter notebook can be found here: https://github.com/pymonger/tropicalstorm-data-visualization**

# Requirements

1. Install anaconda3 (https://www.continuum.io/downloads)
1. Install requisite packages:
   ```
   conda install netCDF4
   conda install pandoc
   conda install -c conda-forge ipyleaflet
   conda install -c conda-forge gdal
   conda install -c conda-forge astropy
   ```
1. Add the following line to your .bash_profile and source it:
   ```
   export GDAL_DATA=$(gdal-config --datadir)
   ```
1. Download source dataset to directory containing this notebook file:
   ```
   wget ftp://eclipse.ncdc.noaa.gov/pub/ibtracs/v03r10/wmo/netcdf/Allstorms.ibtracs_wmo.v03r10.nc
   ```
1. Run jupyter:
   ```
   jupyter notebook
   ```

<font color='red'>**WARNING: If the above packages are not installed or the source dataset not downloaded, you will not be able to parse the NetCDF4 dataset nor will you be able to render leaflet visualizations used in this notebook.**</font>

# Introduction

As a native of the Hawaiian Islands, Iâ€™ve lived through two hurricanes, Hurricane Iwa in 1982 and Hurricane Iniki in 1992, with a 10-year span between their occurrences. Since 1992, there have been a number of hurricanes that have come close to the islands but none that have made an impact like that of Iwa with a damage cost of \$773 million dollars or Iniki with a damage cost of \$3.2 billion dollars (both adjusted to 2006 dollars based on U.S. Department of Commerce Implicit Price Deflator for Construction) (Eric S. Blake, 2007). In contrast, Hurricanes Harvey and Irma ravaged the states of Texas and Florida and the US territory of Puerto Rico in one year, 2017, and it has been estimated that the economic cost of these hurricanes will exceed \$150 billion (Horowitz, 2017). Is the occurrence of two or more costly hurricanes hitting the same US region within the same season a rare phenomenon? Or does it occur more often than not? To investigate, I will use the IBTrACKS (International Best Track Archive for Climate Stewardship) dataset to perform statistical analysis that will hopefully shed some light on these questions.

# Dataset

## Dataset description

The source dataset I will use comes from the IBTrACS (International Best Track Archive for Climate Stewardship) project: https://www.ncdc.noaa.gov/ibtracs/index.php. This project is endorsed by the WMO (World Meteorological Organization) as an "official archiving and distribution resource for tropical cyclone best track data". The IBTrACS project provides datasets that:

* Contains the most complete global set of historical tropical cyclones available
* Combines information from numerous tropical cyclone datasets
* Simplifies inter-agency comparisons by providing storm data from multiple sources in one place
* Provides data in popular formats to facilitate analysis
* Checks the quality of storm inventories, positions, pressures, and wind speeds, passing the information on to the user

I will be using the IBTrACS-WMO NetCDF file that contains all storms: https://www.ncdc.noaa.gov/ibtracs/index.php?name=wmo-data. Since NetCDF is a self-describing format, info about the variables contained in this dataset can be introspected. Additional info about the variables is located here: ftp://eclipse.ncdc.noaa.gov/pub/ibtracs/v03r10/wmo/netcdf/README.netcdf.

I will be performing some ETL (extraction, transformation and loading) tasks to prepare and filter (remove records with missing values) the source dataset to a tidy dataset which I will use for this analysis. The source dataset essentially aggregates every recorded tropical storm from different source agencies and provides time-series information of pertinent variables describing the storm as it progressed through its track.

The variables I will include from the source dataset are:

* **landfall** { True, False }
  ```
    short landfall(storm, time) ;
        landfall:long_name = "Minimum distance to land until next report (0=landfall)" ;
        landfall:units = "km" ;
        landfall:_FillValue = -999s ;
  ```
  * I will aggregate this variable into a single value of **True** or **False**. **True** signifies that the storm eventually made landfall at some point in the storm's track and **False** otherwise.
* **season** year based on season (INT)
  ```
    short season(storm) ;
          season:long_name = "Year based on season" ;
          season:Note = "Following WMO,\n",
                  "NH Seasons begin 1 January and \n",
                  "SH Seasons begin 1 July the prior year" ;
  ```
* **genesis_basin** { 0 = NA - North Atlantic, 1 = SA - South Atlantic, 2 = WP - West Pacific, 3 = EP - East Pacific, 4 = SP - South Pacific, 5 = NI - North Indian, 6 = SI - South Indian }
  ```
    byte genesis_basin(storm) ;
        genesis_basin:long_name = "Basin of genesis" ;
        genesis_basin:units = " " ;
        genesis_basin:key = "0 = NA - North Atlantic\n",
    "1 = SA - South Atlantic\n",
    "2 = WP - West Pacific\n",
    "3 = EP - East Pacific\n",
    "4 = SP - South Pacific\n",
    "5 = NI - North Indian\n",
    "6 = SI - South Indian\n",
    "7 = AS - Arabian Sea\n",
    "8 = BB - Bay of Bengal\n",
    "9 = EA - Eastern Australia\n",
    "10 = WA - Western Australia\n",
    "11 = CP - Central Pacific\n",
    "12 = CS - Carribbean Sea\n",
    "13 = GM - Gulf of Mexico\n",
    "14 = MM - Missing" ;
        genesis_basin:Note = "Based on where the storm began" ;
  ```
  * the additional variable info at ftp://eclipse.ncdc.noaa.gov/pub/ibtracs/v03r08/wmo/netcdf/README.netcdf states that only values 0-6 are used for this variable thus I will be discretizing the values for this variable
* **sub_basin** of first observation { 0 = NA - North Atlantic, 1 = SA - South Atlantic, 2 = WP - West Pacific, 3 = EP - East Pacific, 4 = SP - South Pacific, 5 = NI - North Indian, 6 = SI - South Indian, 7 = AS - Arabian Sea, 8 = BB - Bay of Bengal, 9 = EA - Eastern Australia, 10 = WA - Western Australia, 11 = CP - Central Pacific, 12 = CS - Carribbean Sea, 13 = GM - Gulf of Mexico, 14 = MM - Missing }
  ```
    byte sub_basin(storm, time) ;
        sub_basin:long_name = "Sub-Basin" ;
        sub_basin:units = " " ;
        sub_basin:key = "0 = NA - North Atlantic\n",
    "1 = SA - South Atlantic\n",
    "2 = WP - West Pacific\n",
    "3 = EP - East Pacific\n",
    "4 = SP - South Pacific\n",
    "5 = NI - North Indian\n",
    "6 = SI - South Indian\n",
    "7 = AS - Arabian Sea\n",
    "8 = BB - Bay of Bengal\n",
    "9 = EA - Eastern Australia\n",
    "10 = WA - Western Australia\n",
    "11 = CP - Central Pacific\n",
    "12 = CS - Carribbean Sea\n",
    "13 = GM - Gulf of Mexico\n",
    "14 = MM - Missing" ;
        sub_basin:Note = "Based on present location" ;
        sub_basin:_FillValue = '\201' ;
  ```
  * this variable will remain numeric since there are 14 values
* **time** of first observation (MJD value) (REAL)
  ```
    double time_wmo(storm, time) ;
        time_wmo:long_name = "Modified Julian Day" ;
        time_wmo:units = "days since 1858-11-17 00:00:00" ;
        time_wmo:_FillValue = 9.969209999999999e+36 ;
  ```
* **lon** (longitude) of first observation (REAL)
  ```
    short lon_wmo(storm, time) ;
        lon_wmo:long_name = "Storm center longitude" ;
        lon_wmo:units = "degrees_east" ;
        lon_wmo:scale_factor = 0.0099999998f ;
        lon_wmo:_FillValue = -32767s ;
  ```
* **lat** (latitude) of first observation (REAL)
  ```
    short lat_wmo(storm, time) ;
        lat_wmo:long_name = "Storm center latitude" ;
        lat_wmo:units = "degrees_north" ;
        lat_wmo:scale_factor = 0.0099999998f ;
        lat_wmo:_FillValue = -32767s ;
  ```
* **dist2land** (distance to land) of first observation (REAL)
  ```
    short dist2land(storm, time) ;
        dist2land:long_name = "Distance to land" ;
        dist2land:units = "km" ;
        dist2land:_FillValue = -999s ;
  ```
* **msw** (maximum sustained wind) of first observation (REAL)
  ```
    short pres_wmo(storm, time) ;
        pres_wmo:long_name = "Minimum Central Pressure (MCP)" ;
        pres_wmo:units = "mb" ;
        pres_wmo:scale_factor = 0.1f ;
        pres_wmo:_FillValue = -32767s ;
  ```
* **mcp** (minimum central pressure) of first observation (REAL)
  ```
    short wind_wmo(storm, time) ;
        wind_wmo:long_name = "Maximum Sustained Wind (MSW)" ;
        wind_wmo:units = "kt" ;
        wind_wmo:scale_factor = 0.1f ;
        wind_wmo:_FillValue = -32767s ;
  ```
* **nature** (storm nature) { 0 = TS - Tropical, 1 = SS - Subtropical, 2 = ET - Extratropical, 3 = DS - Disturbance, 4 = MX - Mix of conflicting reports, 5 = NR - Not Reported, 6 = MM - Missing, 7 = - Missing }
  ```
        nature_wmo:long_name = "Storm nature" ;
        nature_wmo:key = "0 = TS - Tropical\n",
    "1 = SS - Subtropical\n",
    "2 = ET - Extratropical\n",
    "3 = DS - Disturbance\n",
    "4 = MX - Mix of conflicting reports\n",
    "5 = NR - Not Reported\n",
    "6 = MM - Missing\n",
    "7 =  - Missing" ;
        nature_wmo:Note = "Based on classification from original sources" ;
        nature_wmo:_FillValue = '\201' ;
  ```
  * this variable will be discretized
* **track_type** { 0 = main - cylclogenesis to cyclolysis, 1 = merge - cyclogenesis to merger, 2 = split - split to cyclolysis, 3 = other - split to merger }
  ```
    byte track_type(storm) ;
        track_type:long_name = "Track type" ;
        track_type:key = "0 = main - cyclogenesis to cyclolysis\n",
    "1 = merge - cyclogenesis to merger\n",
    "2 = split - split to cyclolysis\n",
    "3 = other - split to merger" ;
  ```
  * this variable will be discretized

## Source dataset

In [1]:
import os, sys, re, json, time
from copy import deepcopy
from subprocess import check_output
import netCDF4 as NC
import numpy as np
import pandas as pd
from ipyleaflet import Map, GeoJSON
from astropy.time import Time
from IPython.display import display, HTML, Markdown


# get netcdf dataset
source_file = "Allstorms.ibtracs_wmo.v03r10.nc"

## Tidy dataset

In [2]:
# define dict for discrete features
disc_map = {
    "basin": {
         0: "NA", # North Atlantic
         1: "SA", # South Atlantic
         2: "WP", # West Pacific
         3: "EP", # East Pacific
         4: "SP", # South Pacific
         5: "NI", # North Indian
         6: "SI", # South Indian
         7: "AS", # Arabian Sea
         8: "BB", # Bay of Bengal
         9: "EA", # Eastern Australia
        10: "WA", # Western Australia
        11: "CP", # Central Pacific
        12: "CS", # Carribbean Sea
        13: "GM", # Gulf of Mexico
        14: "MM", # Missing
    },
    "nature": {
        0: "TS",  # Tropical
        1: "SS",  # Subtropical
        2: "ET",  # Extratropical
        3: "DS",  # Disturbance
        4: "MX",  # Mix of conflicting reports
        5: "NR",  # Not Reported
        6: "MM",  # Missing
        7: "MM2", # Also Missing
    },
    "track_type": {
        0: "main",  # cyclogenesis to cyclolysis
        1: "merge", # cyclogenesis to merger
        2: "split", # split to cyclolysis
        3: "other", # split to merger
    },
    "month": {
        1: "Jan",
        2: "Feb",
        3: "Mar",
        4: "Apr",
        5: "May",
        6: "Jun",
        7: "Jul",
        8: "Aug",
        9: "Sep",
       10: "Oct",
       11: "Nov",
       12: "Dec",
    }
}


# conversion factors
kt_to_mph = 1.15078


def get_category(mph):
    """Return storm category from mph value of MSW."""
    if mph > 155.: return 5
    elif mph >= 131.: return 4
    elif mph >= 111.: return 3
    elif mph >= 96.: return 2
    elif mph >= 74.: return 1
    else: return 0
    
    
def get_tidy_dataset(source_ds_file, tidy_ds_file):
    """Return tidy dataset as a data frame. Save tidy dataset
    as an HDF5 file for re-use without having to tidy again."""
    
    # open source file
    ds = NC.Dataset(source_ds_file)
    
    # extract features from each hurricane and save into a list of dicts
    data = []
    landfall_count = 0
    
    # compile regular expression for matching unnamed storms
    unnamed_re = re.compile(r'(UNNAMED|NOT NAMED)')
    
    for i in range(ds.dimensions['storm'].size):
        
        # get number of observations
        obs = ds.variables['numObs'][i]
        if obs <= 2: continue # skip if there are 2 or less observations
        
        # get storm id (storm names can be re-used so we need to track them uniquely)
        id = np.array_str(NC.chartostring(ds.variables['storm_sn'][i,:]))[2:-1]
        
        # extract filterable features first
        name = np.array_str(NC.chartostring(ds.variables['name'][i,:]))[2:-1]
        season = ds.variables['season'][i]
        genesis_basin = ds.variables['genesis_basin'][i]
        
        # extract the landfall feature: if at any time in the storm's track
        # makes landfall, then the feature landfall == True; otherwise it
        # will be landfall == False
        landfall = (ds.variables['landfall'][i,:obs-1] == 0).any()
        
        # get max MSW (maximum sustained wind) for the storm and its category
        wind_wmo = ds.variables['wind_wmo'][i,:obs-1] * kt_to_mph # convert kt to mph
        max_msw_idx = wind_wmo.argmax()
        max_msw = wind_wmo[max_msw_idx]
        max_cat = get_category(max_msw)
        
        # get max MSW (maximum sustained wind) for the storm over land if reached landfall
        # and its max category; determine the summary_idx which will be used to summarize
        # the hurricane as a single data record
        masked_msw = np.ma.masked_where(ds.variables['landfall'][i,:obs-1] != 0.0, wind_wmo)
        masked_msw.set_fill_value(ds.variables['wind_wmo']._FillValue)
        max_land_msw_idx = masked_msw.argmax()
        if landfall:
            max_land_msw = wind_wmo[max_land_msw_idx]
            summary_idx = max_land_msw_idx
        else:
            max_land_msw = 0.0
            summary_idx = max_msw_idx
        max_land_cat = get_category(max_land_msw)
            
        # extract other filterable features
        sub_basin = ds.variables['sub_basin'][i,:obs-1]
        nature = ds.variables['nature_wmo'][i,:obs-1]
        
        # skip records that have missing values in features
        if genesis_basin == 14:
            continue
        # skipping this filter; this filters out the east pacific storms
        #if sub_basin[summary_idx] == 14:
        #    continue
        if nature[summary_idx] in (4, 5, 6, 7):
            continue
            
        # skip records with unnamed storms
        #if unnamed_re.search(name): continue
        
        # extract the rest of the features
        time_wmo = ds.variables['time_wmo'][i,:obs-1]
        time_iso = Time(time_wmo, format='mjd', scale='utc')
        
        # including the time feature as-is (absolute value) from the source doesn't make 
        # sense for prediction; a better feature to derive from the time feature is the 
        # month of year since this can give the algorithm insight into seasonal effects
        month = time_iso[summary_idx].datetime.month
        
        # extract lon and handle wrapping issue
        lon = ds.variables['lon_wmo'][i,:obs-1]
        lon_diff = lon[0] - lon[-1]
        if lon_diff > 180.:
            lon[np.where(lon > 0)] -= 360.
        elif lon_diff < 180.:
            lon[np.where(lon < 0)] += 360.
            
        # extract other features
        lat = ds.variables['lat_wmo'][i,:obs-1]
        dist2land = ds.variables['dist2land'][i,:obs-1]
        msw = ds.variables['wind_wmo'][i,:obs-1]
        mcp = ds.variables['pres_wmo'][i,:obs-1]
        tt = ds.variables['track_type'][i]
        
        # create GeoJSON of storm track
        ls = { 
            "type": "LineString",
            "coordinates": np.dstack((lon, lat))[0].tolist(),
        }
        
        # create feature for leaflet display;
        # stuff features into a message info for on_hover display
        msg = "{} {} {} {} {} {} {} {} {} {} {} {} {}".format(i, name, obs, genesis_basin, sub_basin[summary_idx],
                                                              time_iso[summary_idx].iso, lon[summary_idx], 
                                                              lat[summary_idx], dist2land[summary_idx],
                                                              msw[summary_idx], mcp[summary_idx], 
                                                              nature[summary_idx], tt, landfall)
        ls_feature = { 
            "type": "Feature",
            "properties": { "msg": msg },
            "geometry": ls,
        }
        
        # create data dict
        data.append({
            "id": id,
            "name": name,
            "genesis_basin": disc_map['basin'][genesis_basin],
            "sub_basin": disc_map['basin'][sub_basin[summary_idx]],
            "season": season,
            "time": time_wmo[summary_idx],
            "month": disc_map['month'][month],
            "lon": lon[summary_idx],
            "lat": lat[summary_idx],
            "dist2land": dist2land[summary_idx],
            "msw": msw[summary_idx],
            "mcp": mcp[summary_idx],
            "nature": disc_map['nature'][nature[summary_idx]],
            "track_type": disc_map['track_type'][tt],
            "landfall": landfall,
            "feature": json.dumps(ls_feature),
            "max_msw_mph": max_msw,
            "max_cat": max_cat,
            "max_land_msw_mph": max_land_msw,
            "max_land_cat": max_land_cat,
        })
        
        # tally landfall
        if landfall: landfall_count += 1
        
    # create data frame
    df = pd.DataFrame(data)
    
    # save data frame to HDF5
    df.to_hdf(tidy_ds_file, "tropicalstorms", format="table", complib="zlib", complevel=9)
    
    # return data frame
    return df

# tidy data file
tidy_ds_file = "Allstorms.ibtracs_wmo.v03r10-tidy.h5"

# get tidy dataframe
if os.path.exists(tidy_ds_file):
    df = pd.read_hdf(tidy_ds_file)
else:
    df = get_tidy_dataset(source_file, tidy_ds_file)

# print info
display(Markdown("### landfall distribution of tidy dataset"))
display(Markdown("* total storms: {}".format(len(df))))
display(Markdown("* total storms with variable landfall == True: {}".format(len(df[df['landfall'] == True]))))
display(Markdown("* total storms with variable landfall == False: {}".format(len(df[df['landfall'] == False]))))

WARNING: ErfaWarning: ERFA function "d2dtf" yielded 1 of "dubious year (Note 5)" [astropy._erfa.core]

### landfall distribution of tidy dataset

* total storms: 4657

* total storms with variable landfall == True: 2033

* total storms with variable landfall == False: 2624

## let's display the dataset in table format

In [3]:
display(df[['id', 'name', 'genesis_basin', 'sub_basin', 'season', 
            'month', 'lon', 'lat', 'nature', 'track_type', 'landfall', 
            'max_msw_mph', 'max_cat', 'max_land_msw_mph', 'max_land_cat']])

,id,name,genesis_basin,sub_basin,season,month,lon,lat,nature,track_type,landfall,max_msw_mph,max_cat,max_land_msw_mph,max_land_cat
0,51175N2627,NAME,NA,GM,1851,Jun,263.500000,28.099998,TS,main,True,92.062393,1,92.062393,1
1,51228N1331,NAME,NA,GM,1851,Aug,273.899994,29.599998,TS,main,True,115.077995,3,115.077995,3
2,51256N3328,NAME,NA,NA,1851,Sep,286.500000,32.500000,TS,main,False,57.538998,0,0.000000,0
3,51289N2928,NAME,NA,NA,1851,Oct,288.299988,41.099998,TS,main,True,69.046799,0,57.538998,0
4,52232N2129,NAME,NA,GM,1852,Aug,271.399994,30.199999,TS,main,True,115.077995,3,115.077995,3
5,52247N1430,NAME,NA,GM,1852,Sep,276.600006,27.900000,TS,main,True,80.554596,1,80.554596,1
6,52249N1729,NAME,NA,CS,1852,Sep,293.899994,17.699999,TS,main,True,80.554596,1,80.554596,1
7,52264N1330,NAME,NA,NA,1852,Sep,292.600006,19.500000,TS,main,False,92.062393,1,0.000000,0
8,52278N1429,NAME,NA,GM,1852,Oct,275.100006,29.199999,TS,main,True,103.570198,2,103.570198,2
9,53242N1233,NAME,NA,NA,1853,Sep,305.399994,19.100000,TS,main,False,149.601395,4,0.000000,0
10,53251N3730,NAME,NA,NA,1853,Sep,307.000000,37.000000,TS,merge,False,115.077995,3,0.000000,0
11,53253N4130,NAME,NA,NA,1853,Sep,300.600006,39.899998,TS,merge,False,103.570198,2,0.000000,0
12,53269N2629,NAME,NA,NA,1853,Sep,300.200012,36.000000,TS,main,False,80.554596,1,0.000000,0
13,53291N3228,NAME,NA,NA,1853,Oct,279.500000,30.000000,TS,main,False,103.570198,2,0.000000,0
14,54176N2626,NAME,NA,GM,1854,Jun,263.000000,26.199999,TS,main,True,80.554596,1,80.554596,1
15,54246N2530,NAME,NA,NA,1854,Sep,278.899994,31.699999,TS,main,True,126.585793,3,115.077995,3
16,54261N2826,NAME,NA,GM,1854,Sep,264.700012,28.900000,TS,main,True,103.570198,2,103.570198,2
17,54293N2529,NAME,NA,NA,1854,Oct,292.700012,28.599998,TS,main,False,69.046799,0,0.000000,0
18,55222N4431,NAME,NA,NA,1855,Aug,318.000000,44.000000,TS,main,False,103.570198,2,0.000000,0
19,55236N1230,NAME,NA,CS,1855,Aug,290.500000,18.400000,TS,main,True,69.046799,0,57.538998,0
20,55252N2027,NAME,NA,GM,1855,Sep,270.500000,29.199999,TS,main,True,126.585793,3,126.585793,3
21,56221N2527,NAME,NA,GM,1856,Aug,269.500000,28.699999,TS,main,True,149.601395,4,149.601395,4
22,56226N1130,NAME,NA,NA,1856,Aug,303.899994,12.099999,TS,main,False,80.554596,1,0.000000,0
23,56232N3328,NAME,NA,NA,1856,Aug,283.600006,34.799999,TS,main,True,57.538998,0,57.538998,0
24,56235N1330,NAME,NA,NA,1856,Aug,280.500000,22.699999,TS,main,True,115.077995,3,103.570198,2
25,56262N3231,NAME,NA,NA,1856,Sep,309.000000,35.599998,TS,split,False,80.554596,1,0.000000,0
26,57181N3428,NAME,NA,NA,1857,Jun,285.500000,34.000000,TS,main,False,57.538998,0,0.000000,0
27,57249N2728,NAME,NA,NA,1857,Sep,281.700012,33.299999,TS,main,True,103.570198,2,103.570198,2
28,57265N3328,NAME,NA,NA,1857,Sep,286.500000,32.500000,TS,main,False,80.554596,1,0.000000,0
29,57267N1630,NAME,NA,CS,1857,Sep,273.500000,21.000000,TS,main,True,103.570198,2,103.570198,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4627,16248N1525,WTO,EP,MM,2016,Sep,249.500000,23.400000,TS,main,True,92.062393,1,86.308495,1
4628,16250N2512,LO,WP,MM,2016,Sep,126.799995,27.599998,TS,main,False,46.031197,0,0.000000,0
4629,16253N1314,RANT,WP,MM,2016,Sep,118.299995,24.400000,TS,main,True,138.093597,4,80.554596,1
4630,16255N1211,,WP,MM,2016,Sep,108.899994,15.500000,TS,main,True,40.277298,0,40.277298,0
4631,16255N1224,LEN,EP,MM,2016,Sep,240.800003,17.699999,TS,main,False,109.324097,2,0.000000,0
4632,16256N1214,LAKA,WP,MM,2016,Sep,130.500000,31.099998,TS,main,True,109.324097,2,86.308495,1
4633,16256N2031,,NA,NA,2016,Sep,321.399994,46.799999,ET,main,False,63.292896,0,0.000000,0
4634,16257N1334,R,NA,NA,2016,Sep,304.899994,35.799999,TS,main,False,69.046799,0,0.000000,0
4635,16257N2728,LI,NA,NA,2016,Sep,278.799988,29.000000,TS,main,True,51.785099,0,51.785099,0
4636,16262N1625,IN,EP,MM,2016,Sep,243.899994,22.000000,TS,main,False,92.062393,1,0.000000,0
4637,16263N1333,S,NA,NA,2016,Sep,328.299988,17.199999,TS,main,False,51.785099,0,0.000000,0
4638,16266N1114,G,WP,MM,2016,Sep,122.500000,23.699999,TS,main,True,97.816299,2,97.816299,2
4639,16269N1516,AB,WP,MM,2016,Oct,128.099991,34.399998,TS,main,True,132.339691,4,74.800697,1
4640,16270N1222,IK,EP,MM,2016,Sep,220.900009,13.599999,TS,main,False,74.800697,1,0.000000,0
4641,16270N1524,SLY,EP,MM,2016,Sep,240.600006,16.699999,TS,main,False,51.785099,0,0.000000,0
4642,16273N1330,TTHE,NA,CS,2016,Oct,285.600006,17.500000,TS,main,True,166.863098,5,149.601395,4
4643,16278N1618,NGD,EP,MM,2016,Oct,148.899994,30.299999,TS,main,False,115.077995,3,0.000000,0
4644,16278N2330,COL,NA,NA,2016,Oct,293.799988,30.599998,TS,main,False,138.093597,4,0.000000,0
4645,16279N1913,R,WP,MM,2016,Oct,115.899994,21.199999,TS,main,False,69.046799,0,0.000000,0
4646,16287N1313,RIK,WP,MM,2016,Oct,121.799995,15.799999,TS,main,True,109.324097,2,109.324097,2
4647,16288N0714,IM,WP,MM,2016,Oct,123.099998,17.299999,TS,main,True,132.339691,4,115.077995,3
4648,16296N1126,YMOU,EP,MM,2016,Oct,242.899994,15.900000,TS,main,False,149.601395,4,0.000000,0
4649,16305N1014,AR,WP,MM,2016,Nov,140.699997,18.299999,TS,main,False,86.308495,1,0.000000,0
4650,16313N1116,-O,WP,MM,2016,Nov,156.899994,16.900000,TS,main,False,40.277298,0,0.000000,0
4651,16318N1825,N,EP,MM,2016,Nov,252.700012,17.500000,TS,main,False,40.277298,0,0.000000,0
4652,16323N1327,T,NA,CS,2016,Nov,277.000000,11.000000,TS,main,True,115.077995,3,115.077995,3
4653,16328N0913,KAG,WP,MM,2016,Nov,125.500000,10.400000,TS,main,True,57.538998,0,0.000000,0
4654,16355N0714,CK-TE,WP,MM,2016,Dec,125.099998,13.500000,TS,main,True,120.831894,3,115.077995,3
4655,17113N0914,IF,WP,MM,2017,Apr,136.000000,13.099999,TS,main,False,40.277298,0,0.000000,0
4656,17161N1311,RBO,WP,MM,2017,Jun,114.399994,22.000000,TS,main,True,63.292896,0,63.292896,0

# Analysis

## Visualize storm tracks on map

In [4]:
# set styles
landfall_style = {
    "color": "blue",
    "weight": 1,
}
nolandfall_style = {
    "color": "yellow",
    "weight": 1,
}
hover_style = {
    "weight": 5,
}

# hover handler
def hover_handler(event=None, id=None, properties=None):
    sys.stdout.write("\r" + properties['msg'])
    sys.stdout.flush()

# show map    
m = Map(center=[0, 180], zoom=2)
m

Map(center=[0, 180], layers=(TileLayer(options=['attribution', 'detect_retina', 'max_zoom', 'min_zoom', 'opacity', 'tile_size']),), layout=Layout(align_self='stretch', height='400px'), options=['attribution_control', 'bounce_at_zoom_limits', 'box_zoom', 'center', 'close_popup_on_click', 'double_click_zoom', 'dragging', 'inertia', 'inertia_deceleration', 'inertia_max_speed', 'keyboard', 'keyboard_pan_offset', 'keyboard_zoom_offset', 'max_zoom', 'min_zoom', 'scroll_wheel_zoom', 'tap', 'tap_tolerance', 'touch_zoom', 'world_copy_jump', 'zoom', 'zoom_animation_threshold', 'zoom_control', 'zoom_start'], zoom=2)

In [ ]:
# add storms that didn't make landfall
for i, r in df.loc[df['landfall'] == False].iterrows():
    l = GeoJSON(data=json.loads(r.feature), style=nolandfall_style, hover_style=hover_style)
    l.on_hover(hover_handler)
    m.add_layer(l)